/**
 * A theme for IUT Robert Schuman by Adrien Krähenbühl.
 *
 * MIT licensed.
 */

// Default mixins and settings ------------------------------------------------
@import "../template/mixins";
@import "../template/settings";
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// Override theme settings (see ../template/settings.scss)

// Background of the presentation
$backgroundColor: #fefefe;

// Primary/body text
$mainFont: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
$mainFontSize: 30px;
$mainColor: #000;

// Vertical spacing between blocks of text
$blockMargin: .5em;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: $mainFont;
$headingColor: #17a6e3;
$headingLineHeight: 1.1;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: .04em .04em 3px black;

$heading1Size: 4em;
$heading4Size: 2em;
$heading2Size: 2em;
$heading3Size: 1.5em;

// Links and actions
$linkColor: #E35417;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #FF5E99;
$selectionColor: #eee;


// Theme template -------------------------------------------------------------
@import "../template/theme";
// ----------------------------------------------------------------------------

$headingChapterColor: $selectionColor;
$firstSlideTitleSpacing: 2em;

// First slides ---------------------------------------------------------------
.reveal .slides .first-slide {
    height: 100%;
    align-items: center;
    text-align: center;
    & h1 + * {
        display: flex;
    }
    & h4 {
        padding-bottom: 1em;
        text-shadow: $heading1TextShadow;
    }
    & address {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        font-size: .8em;
        font-variant: small-caps;
        & time {
            font-style: italic;
        }
        & > * {
            color: $mainColor;
        }
    }
}
// ----------------------------------------------------------------------------

// Chapter slides -------------------------------------------------------------
.reveal .backgrounds .chapter .slide-background-content {
    background-color: $headingColor;
}
.reveal .slides .chapter {
    height: 100%;
    & h2 {
        margin: auto;
        padding-bottom: 0;
        width: inherit;
        border-bottom: 0;
        text-align: center;
        color: $backgroundColor;
        font-weight: bold;
        text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    }
}
// ----------------------------------------------------------------------------

// Other slides ---------------------------------------------------------------
.reveal .slides > section {
    text-align: left;
    padding: 0;
}
.reveal .slides section {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    &.centerh {
        align-items: center;
    }
}
// ----------------------------------------------------------------------------

// Slide elements -------------------------------------------------------------
.reveal .progress {
    height: 6px;
}
.reveal .slides p {
    margin: 0;
}
// ----------------------------------------------------------------------------

// Titles ---------------------------------------------------------------------
.reveal .slides h1 {
    font-variant: small-caps;
    font-weight: bold;
    margin: 0;
}
.reveal .slides h2 {
    margin-bottom: $blockMargin;
    padding: 0;
    width: 100%;
    border-bottom: 2px dashed rgba(0,0,0,0.2);
    text-align: left;
}
.reveal .slides h3 {
    width: 100%;
    text-align: left;
    margin-top: .5*$blockMargin;
    margin-bottom: .5*$blockMargin;
}
// ----------------------------------------------------------------------------

// Lists ----------------------------------------------------------------------
.reveal .slides ul,
.reveal .slides ol,
.reveal .slides dl {
    margin-top: $blockMargin;
    margin-bottom: $blockMargin;
}
.reveal .slides ul,
.reveal .slides ol {
    margin-left: 4*$blockMargin;
}
.reveal .slides dl {
    margin-left: 0;
    & dd {
        margin-bottom: $blockMargin;
        &:last-child {
            margin-bottom: 0;
        }
    }
    & dd + dd > ul:first-child {
        margin-top: -.5*$blockMargin;
    }
}
.reveal .slides ul li {
    list-style-type: none;
    &:before {
        content: '✓';
        font-size: .7em;
        padding-right: .6em;
        margin-left: -1.3em;
    }
}
// ----------------------------------------------------------------------------

// Images ---------------------------------------------------------------------
.reveal .slides img {
    border: initial;
    box-shadow: initial;
}
// ----------------------------------------------------------------------------

// Blockquotes ----------------------------------------------------------------
.reveal .slides blockquote {
    text-align: center;
    box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.5);
    margin: 1em auto;
}
// ----------------------------------------------------------------------------

// Code blocks ----------------------------------------------------------------
.reveal .slides pre {
    width: auto;
    margin: .5em;
    & code {
        padding: 10px;
        font-style: normal;
        max-height: 2000px;
    }
}
.reveal .slides :not(pre) > code {
    font-size: .7*$mainFontSize;
    background-color: $selectionColor;
    padding: .1*$mainFontSize;
    font-style: normal;
}
// ----------------------------------------------------------------------------

// Fragment animation ---------------------------------------------------------
.reveal .slides .present .anim {
    & .current-fragment {
        display: block;
    }
    & .fragment:not(.current-fragment) {
        display: none;
    }
}
// ----------------------------------------------------------------------------

// Column environment ---------------------------------------------------------
.reveal .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
    &.start {
        align-items: flex-start;
    }
    & > * {
        flex-grow: 1;
        flex-basis: 0;
    }
    & > figure {
        text-align: center;
    }
    & > pre {
        flex-grow: 0;
    }
    & + p {
        margin-top: .5em;
    }
    & > .column-100 { flex-grow: 100; }
    & > .column-95  { flex-grow:  95; }
    & > .column-90  { flex-grow:  90; }
    & > .column-85  { flex-grow:  85; }
    & > .column-80  { flex-grow:  80; }
    & > .column-75  { flex-grow:  75; }
    & > .column-70  { flex-grow:  70; }
    & > .column-65  { flex-grow:  65; }
    & > .column-60  { flex-grow:  60; }
    & > .column-55  { flex-grow:  55; }
    & > .column-50  { flex-grow:  50; }
    & > .column-45  { flex-grow:  45; }
    & > .column-40  { flex-grow:  40; }
    & > .column-35  { flex-grow:  35; }
    & > .column-30  { flex-grow:  30; }
    & > .column-25  { flex-grow:  25; }
    & > .column-20  { flex-grow:  20; }
    & > .column-15  { flex-grow:  15; }
    & > .column-10  { flex-grow:  10; }
    & > .column-9   { flex-grow:   5; }
    & > .column-8   { flex-grow:   5; }
    & > .column-7   { flex-grow:   5; }
    & > .column-6   { flex-grow:   5; }
    & > .column-5   { flex-grow:   5; }
    & > .column-4   { flex-grow:   4; }
    & > .column-3   { flex-grow:   3; }
    & > .column-2   { flex-grow:   2; }
    & > .column-1   { flex-grow:   1; }
}
// ----------------------------------------------------------------------------

// Trick classes --------------------------------------------------------------
.centerh {
    align-self: center;
    & pre + p {
        text-align: center;
    }
}
.columns.centerh img,
.columns .centerh img {
    align-self: center;
    text-align: center;
    vertical-align: middle;
}

.reveal .width-100 { width: 100%; }
.reveal .width-95  { width: 95%; }
.reveal .width-90  { width: 90%; }
.reveal .width-85  { width: 85%; }
.reveal .width-80  { width: 80%; }
.reveal .width-75  { width: 75%; }
.reveal .width-70  { width: 70%; }
.reveal .width-65  { width: 65%; }
.reveal .width-60  { width: 60%; }
.reveal .width-55  { width: 55%; }
.reveal .width-50  { width: 50%; }
.reveal .width-45  { width: 45%; }
.reveal .width-40  { width: 40%; }
.reveal .width-35  { width: 35%; }
.reveal .width-30  { width: 30%; }
.reveal .width-25  { width: 25%; }
.reveal .width-20  { width: 20%; }
.reveal .width-19  { width: 19%; }
.reveal .width-15  { width: 15%; }
.reveal .width-10  { width: 10%; }
// ----------------------------------------------------------------------------


.reveal .slides h2 + * {
    margin-top: 0;
}
