/**
 * A theme for IUT Robert Schuman by Adrien Krähenbühl.
 *
 * MIT licensed.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// ---------------------------------------------
// Override theme settings (see ../template/settings.scss)

// Fonts
$mainFont: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
$mainFontSize: 30px;

$headingFont: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
$heading1Size: 4em;
$heading4Size: 2em;
$heading2Size: 2em;
$heading3Size: 1.5em;
$headingTextTransform: bold;

// Colors
$backgroundColor: #FEFEFE;
$mainColor: #000;
$headingColor: #17a6e3;

// Sizes
$blockMargin: .5em;
$mainTitleBottomSpace: 2em;


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// First slide
.reveal h1 {
    font-variant: small-caps;
}
.reveal h4 {
    margin-bottom: $mainTitleBottomSpace;
    font-style: italic;
}
.reveal section.first-slide {
    align-items: center;
}

// Other slides
.reveal h2 {
    margin-bottom: $blockMargin;
    padding-bottom: .2em;
    width: 100%;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    text-align: left;
}
.reveal h3 {
    width: 100%;
    text-align: left;
    margin-top: $blockMargin;
    margin-bottom: $blockMargin;
}
.reveal h2 + h3 {
    margin-top: 0;
}

// All slides
.reveal .slides > section {
    padding: 0;
}
// All slides
.reveal section.centerh {
    align-items: center;
}

// Listes
.reveal ul,
.reveal ol,
.reveal dl {
    margin-top: $blockMargin;
    margin-bottom: $blockMargin;
}
.reveal dl dd {
    margin-bottom: $blockMargin;
    &:last-child {
        margin-bottom: 0;
    }
}
.reveal li {
    list-style-type: none;
    &:before {
        content: '✓';
        font-size: .7em;
        padding-right: .7em;
    }
}

// Images
.reveal section img {
    border: initial;
    box-shadow: initial;
}

// Blockquotes
.reveal blockquote {
    box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.5);
}

// Flex
.reveal section {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.reveal div.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    & > div {
        flex-basis: 0;
        text-align: left;
        flex-grow: 1;
        &.center {
            text-align: center;
        }
    }
}

.reveal div.anim {
    & p {
        display: block;
        text-align: center;
    }
    & img.fragment:not(.current-fragment) {
        display: none;
    }
}

.reveal div.columns div.column-100 { flex-grow: 100; }
.reveal div.columns div.column-95  { flex-grow: 95; }
.reveal div.columns div.column-90  { flex-grow: 90; }
.reveal div.columns div.column-85  { flex-grow: 85; }
.reveal div.columns div.column-80  { flex-grow: 80; }
.reveal div.columns div.column-75  { flex-grow: 75; }
.reveal div.columns div.column-70  { flex-grow: 70; }
.reveal div.columns div.column-65  { flex-grow: 65; }
.reveal div.columns div.column-60  { flex-grow: 60; }
.reveal div.columns div.column-55  { flex-grow: 55; }
.reveal div.columns div.column-50  { flex-grow: 50; }
.reveal div.columns div.column-45  { flex-grow: 45; }
.reveal div.columns div.column-40  { flex-grow: 40; }
.reveal div.columns div.column-35  { flex-grow: 35; }
.reveal div.columns div.column-30  { flex-grow: 30; }
.reveal div.columns div.column-25  { flex-grow: 25; }
.reveal div.columns div.column-20  { flex-grow: 20; }
.reveal div.columns div.column-15  { flex-grow: 15; }
.reveal div.columns div.column-10  { flex-grow: 10; }
.reveal div.columns div.column-5   { flex-grow:  5; }
.reveal div.columns div.column-4   { flex-grow:  4; }
.reveal div.columns div.column-3   { flex-grow:  3; }
.reveal div.columns div.column-2   { flex-grow:  2; }
